<!DOCTYPE html>
<html>
<head>
    <title>Timetable</title>
</head>
<body>

<h1>Awesome timetable app</h1>
<div>
    <button id="select-timetable-file-button">Open File</button>
    <p id="selected-file"></p>
    <button id="parse-timetable-file-button">Parse</button>
    <p id="selected-save-path"></p>
</div>
<script>

  const {ipcRenderer} = require('electron');
  const TimetableParser = require('../lib/timetable_parser');
  const timetableParser = new TimetableParser();
  let selectedPath;

  const selectFileBtn = document.getElementById('select-timetable-file-button');

  selectFileBtn.addEventListener('click', function (event) {
    ipcRenderer.send('open-file-dialog')
  });

  ipcRenderer.on('selected-file', function (event, paths) {
    selectedPath = paths[0];
    document.getElementById('selected-file').innerHTML = `You selected: ${selectedPath}`
  });


  const parseFileBtn = document.getElementById('parse-timetable-file-button');

  parseFileBtn.addEventListener('click', function (event) {
    ipcRenderer.send('save-dialog');
  });

  ipcRenderer.on('saved-file', function (event, path) {
    if (!path) path = 'No path';
    document.getElementById('selected-save-path').innerHTML = path ? `File will be saved to: ${path}` : 'Save path was not selected, please try again';
    if (path) {
      const json = timetableParser.process_timetable(selectedPath);
      export_json_to_file(json, path);
    }
  });

  //timetableParser.process_timetable(`${__dirname}/../../example.xlsx`);

  function export_json_to_file(data, path) {
    const jsonfile = require('jsonfile');

    jsonfile.writeFile(path, data, {spaces: 4}, function (err) {
      if (err) {
        console.error(err);
      } else {
        console.log('result exported to file [export.json] in root directory');
      }
    })
  }
</script>
</body>
</html>